#app main form {
    display: flex;
    gap: 12px;
}

#app main form input {
    color: var(--text-primary);
    font-size: 16px;
    line-height: 100%;
    background-color: var(--input-surface);
    padding: 16px 12px;
    width: 100%;
    border: none;
    border-radius: 5px;
}

#app main form input:hover {
    outline: 4px var(--);
}

#app main form button {
    padding: 12px;
    background-color: var(--primary-mid);
    border: none;
    transition: background 0.5s;
    border-radius: 5px;
}

#app main form button:hover {
    background-color: var(--primary-light);
}

#app main form button i {
    font-size: 24px;
    line-height: 24px;
    color: var(--text-primary);
}